form {
  border: 2px solid black;
  display: flex;
  flex-direction: column
  
}

#description {
  padding: 10px;
  font-size: 15px;
  resize: none;
}

#latePenalty {
  display: inline;
  width: 200px;
}