form {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  font-size: 18px;
}

#description {
  padding: 10px;
  font-size: 15px;
  resize: none;
}

#latePenalty {
  display: flex;
  align-items: center;
  
}

#latePenalty > * {
  margin: 0px 5px;
}

.lateInput {
  width: 25px;
  text-align: center;
}

#latePenalty > p {
  font-size: 18px;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
}